@font-face {
  font-family: "interSemiBold";
  src: url("./InterSemiBold.eot");
  src: url("./InterSemiBold.eot?#iefix") format("embedded-opentype"),
    url("./InterSemiBold.woff") format("woff"),
    url("./InterSemiBold.ttf") format("truetype");
}
