@font-face {
  font-family: "interExtraBold";
  src: url("./InterExtraBold.eot");
  src: url("./InterExtraBold.eot?#iefix") format("embedded-opentype"),
    url("./InterExtraBold.woff") format("woff"),
    url("./InterExtraBold.ttf") format("truetype");
}
