@font-face {
  font-family: "interBold";
  src: url("./InterBold.eot");
  src: url("./InterBold.eot?#iefix") format("embedded-opentype"),
    url("./InterBold.woff") format("woff"),
    url("./InterBold.ttf") format("truetype");
}
