@font-face {
  font-family: "interRegular";
  src: url("./InterRegular.eot");
  src: url("./InterRegular.eot?#iefix") format("embedded-opentype"),
    url("./InterRegular.woff") format("woff"),
    url("./InterRegular.ttf") format("truetype");
}
