@import "fonts/InterBlack/style.css";
@import "fonts/InterBold/style.css";
@import "fonts/InterExtraBold/style.css";
@import "fonts/InterExtraLight/style.css";
@import "fonts/InterLight/style.css";
@import "fonts/InterRegular/style.css";
@import "fonts/InterSemiBold/style.css";
@import "fonts/InterThin/style.css";

body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
}
